*
{
    padding: 0;
    margin: 0;
}

body
{
    height: 100vh;
}

.cast-spell-view
{
    position: absolute;
    top: calc(50% - 150px);
    right: calc(50% - 150px);
    background: #ffbc39;
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 50%;
}

.task
{
    color: #f2f5fa;
    background: #232E36 radial-gradient(circle at center, #344A58 49%, #1F2529 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
}

.task-block
{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.text-task
{
    font-size: 24px;
}

.square-task-3
{
    width: 100px;
    height: 100px;
    border: 2px solid #f2f5fa;
}

.side-task-3
{
    position: absolute;
    top: calc(50% + 0);
    left: calc(50% - 80px);
}

.letter-task-4
{
    width: 30px;
    height: 30px;
    border: 2px solid #f2f5fa;
    margin-right: 10px;
    font-size: 24px;
    text-align: center;
}

.letter-task-4:last-of-type
{
    margin-right: 0;
}

.button-task-submit, .button-task-answer
{
    background: #344A58;
    border: 2px solid #ffbc39;
    border-radius: 5px;
    color: #ffbc39;
    font-size: 16px;
    margin-top: 30px;
    height: 30px;
    outline: none;
}

.button-task-submit:hover, .button-task-answer:hover
{
    cursor: pointer;
}

.button-task-submit
{
    width: 180px;
}

.button-task-answer
{
    width: 100px;
    margin-right: 8px;
}

.button-task-answer:last-of-type
{
    margin-right: 0;
}

.input-task
{
    background: #202b31;
    border: none;
    border-radius: 5px;
    color: #f2f5fa;
    text-align: center;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    font-size: 24px;
    outline: none;
}

.input-task:focus
{
    width: 98px;
    height: 28px;
    border: 1px solid #ffbc39 ;
}

.new-game-button
{
    display: block;
    position: absolute;
    width: 200px;
    height: 40px;
    top: calc(50% - 20px);
    left: calc(50% - 100px);
}

.massage-true
{
    font-size: 20px;
    width: 100px;
    text-align: center;
    position: absolute;
    top: 70%;
    left: calc(50% - 50px);
    color: #5ea733;
}

.massage-false
{
    font-size: 20px;
    text-align: center;
    width: 200px;
    position: absolute;
    top: 70%;
    left: calc(50% - 100px);
    color: #ff643e;
}

.hidden
{
    display: none;
}

.spell
{
    width: 130px;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spell-0
{
    background: #ff643e;
    border-radius: 100% 0 0 0;
    border: 10px solid #a44229;
}

.spell-0:hover
{
    border: 10px solid #944027;
}

.spell-1
{
    background: #716cff;
    border-radius: 0 100% 0 0;
    border: 10px solid #5955c1;
}

.spell-1:hover
{
    border: 10px solid #5454a5;
}

.spell-2
{
    background: #f8ff3c;
    border-radius: 0 0 0 100%;
    border: 10px solid #abb22c;
}

.spell-2:hover
{
    border: 10px solid #989f26;
}

.spell-3
{
    background: #92ff50;
    border-radius: 0 0 100% 0;
    border: 10px solid #5ea733;
}

.spell-3:hover
{
    border: 10px solid #4e942f;
}

.spell:hover
{
    font-weight: bold;
    cursor: pointer;
}