*
{
    padding: 0;
    margin: 0;
}

body
{
    color: #f2f5fa;
    background: #232E36 radial-gradient(circle at center, #344A58 49%, #1F2529 100%);

}

@font-face {
    font-family: ClashFont;
    src: url("../fonts/ClashFont.ttf");
}


header
{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: ClashFont;
}

.logo
{
    width: 600px;
}

header h1
{
    margin-bottom: 50px;
    font-size: 24px;
}

.header-block_button
{
    background: #344A58;
    border: 2px solid #ffbc39;
    border-radius: 5px;
    color: #ffbc39;
    font-size: 16px;
    width: 200px;
    height: 40px;
    outline: none;
}

.header-block_button a
{
    color: #ffbc39;
    text-decoration: none;
}

.header-block_button:hover
{
    border: 2px solid #d59437;
    cursor: pointer;
}

.header-block_button:hover a
{
    color: #d59437;
}

.about-block
{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: Arial;
}

.about-block_content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45%;
    height: inherit;
    justify-content: center;
}

.about-block_text
{
    width: 50%;
    margin-bottom: 50px;
}

.about-block_text h2
{
    margin-bottom: 20px;
}

.about-block_img
{
    width: 45%;
    height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.about-block_img img
{
    width: 500px;
    margin-bottom: 50px;
}

footer
{
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial;
}

.footer-photo {
    max-width: 100px;
    border-radius: 50%;
    margin: 0 auto 24px;
}

.footer-text
{
    margin-bottom: 30px;
}

.footer-text p
{
    text-align: center;
    margin-bottom: 10px;
}

.footer-links {
    display: flex;
    justify-content: center;
}

.footer-links a {
    font-size: 24px;
    color: #f2f5fa;
    margin-right: 20px;
}

.footer-links a:hover
{
    color: #d3d6db;
}

.footer-links a:last-child
{
    margin-right: 0;
}